## Data Manipulation

### 1. Find all Statistic Measures

In [154]:
import pandas as pd
import numpy as np

In [153]:
df = pd.read_csv(r"C:\Users\subha\Downloads\studens_data.csv")

In [155]:
df

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51
4,1145,A,female,70.11,49,45,63,60,66,66,61
...,...,...,...,...,...,...,...,...,...,...,...
100,1241,A,female,88.34,87,83,92,98,93,86,90
101,1242,B,male,89.84,98,77,95,98,96,88,100
102,1243,B,male,88.82,83,80,91,98,93,95,71
103,1244,A,male,86.60,92,82,91,99,94,82,78
104,1245,A,male,93.71,93,97,99,100,97,90,90

In [13]:
df.describe()

,ID,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
count,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000
mean,1193.000000,82.957048,76.057143,71.961905,78.942857,85.133333,83.876190,80.761905,75.323810
std,30.454885,6.053187,11.722618,12.197039,14.997326,10.269509,10.514363,10.296119,13.003324
min,1141.000000,63.490000,46.000000,38.000000,17.000000,51.000000,29.000000,54.000000,9.000000
25%,1167.000000,79.340000,67.000000,64.000000,71.000000,80.000000,79.000000,74.000000,67.000000
50%,1193.000000,84.110000,76.000000,73.000000,83.000000,87.000000,85.000000,81.000000,76.000000
75%,1219.000000,87.300000,84.000000,80.000000,91.000000,92.000000,92.000000,89.000000,85.000000
max,1245.000000,93.710000,98.000000,100.000000,99.000000,100.000000,97.000000,100.000000,100.000000

## GPA

In [15]:
gpa=df['GPA']
gpa

0      73.47
1      71.22
2      74.56
3      72.89
4      70.11
       ...
100    88.34
101    89.84
102    88.82
103    86.60
104    93.71
Name: GPA, Length: 105, dtype: float64

In [17]:
gpa.mean()

82.95704761904761

In [18]:
gpa.median()

84.11

In [19]:
gpa.var()

36.64106716117215

In [20]:
range1=gpa.max()-gpa.mean()
range1

10.75295238095238

In [21]:
gpa.std()

6.053186529520807

In [22]:
q1=np.percentile(gpa,25)
q1

79.34

In [23]:
q2=np.percentile(gpa,50)
q2

84.11

In [24]:
q3=np.percentile(gpa,75)
q3

87.3

In [25]:
iqr=q3-q1
iqr

7.959999999999994

In [26]:
upperlimit =q3+(1.5*q3)
lowerlimit =q1-(1.5*q1)

In [27]:
upperlimit

218.25

In [28]:
lowerlimit

-39.67

## Algebra

In [32]:
algebra=df['Algebra']
algebra

0      64
1      57
2      47
3      46
4      49
       ..
100    87
101    98
102    83
103    92
104    93
Name: Algebra, Length: 105, dtype: int64

In [37]:
algavg = algebra.mean()
algavg

76.05714285714286

In [38]:
algebra.median()

76.0

In [39]:
algebra.var()

137.41978021978022

In [40]:
algebra.std()

11.722618317585036

In [41]:
range2=algebra.max()-algebra.min()
range2

52

In [42]:
q1=np.percentile(algebra,25)
q1

67.0

In [43]:
q2=np.percentile(algebra,50)
q2

76.0

In [44]:
q3 = np.percentile(algebra,75)
q3

84.0

In [45]:
iqr=q3-q1
iqr

17.0

In [46]:
upperlimit =q3+(1.5*q3)
lowerlimit =q1-(1.5*q1)

In [47]:
upperlimit

210.0

In [48]:
lowerlimit

-33.5

## Calculus1

In [50]:
calculus1=df['Calculus1']
calculus1

0      81
1      50
2      48
3      72
4      45
       ..
100    83
101    77
102    80
103    82
104    97
Name: Calculus1, Length: 105, dtype: int64

In [51]:
calavg=calculus1.mean()
calavg

71.96190476190476

In [52]:
calculus1.median()

73.0

In [53]:
calculus1.var()

148.76776556776557

In [54]:
calculus1.std()

12.197039213176515

In [55]:
range3=calculus1.max()-calculus1.min()
range3

62

In [56]:
q1=np.percentile(calculus1,25)
q1

64.0

In [57]:
q2=np.percentile(calculus1,50)
q2

73.0

In [58]:
q3=np.percentile(calculus1,75)
q3

80.0

In [59]:
iqr=q3-q1
iqr

16.0

In [60]:
upperlimit =q3+(1.5*q3)
lowerlimit =q1-(1.5*q1)

In [61]:
upperlimit

200.0

In [62]:
lowerlimit

-32.0

## Calculus2

In [63]:
calculus2=df['Calculus2']
calculus2

0      87
1      51
2      71
3      38
4      63
       ..
100    92
101    95
102    91
103    91
104    99
Name: Calculus2, Length: 105, dtype: int64

In [64]:
calavg2=calculus2.mean()
calavg2

78.94285714285714

In [65]:
calculus2.median()

83.0

In [66]:
calculus2.var()

224.91978021978022

In [67]:
calculus2.std()

14.997325768942282

In [68]:
range4=calculus2.max()-calculus2.min()
range4

82

In [69]:
q1 = np.percentile(calculus2,25)
q1

71.0

In [70]:
q2=np.percentile(calculus2,50)
q2

83.0

In [71]:
q3=np.percentile(calculus2,75)
q3

91.0

In [72]:
iqr=q3-q1
iqr

20.0

In [73]:
upperlimit =q3+(1.5*q3)
lowerlimit =q1-(1.5*q1)

In [74]:
upperlimit

227.5

In [75]:
lowerlimit

-35.5

## Statistics

In [76]:
statistics=df['Statistics']
statistics

0       60
1       51
2       60
3       60
4       60
      ...
100     98
101     98
102     98
103     99
104    100
Name: Statistics, Length: 105, dtype: int64

In [77]:
statavg=statistics.mean()
statavg

85.13333333333334

In [78]:
statistics.median()

87.0

In [79]:
statistics.var()

105.4628205128205

In [80]:
statistics.std()

10.269509263485793

In [81]:
range5=statistics.max()-statistics.mean()
range5

14.86666666666666

In [82]:
q1=np.percentile(statistics,25)
q1

80.0

In [83]:
q2=np.percentile(statistics,50)
q2

87.0

In [84]:
q3=np.percentile(statistics,75)
q3

92.0

In [85]:
iqr=q3-q1
iqr

12.0

In [86]:
upperlimit =q3+(1.5*q3)
lowerlimit =q1-(1.5*q1)

In [87]:
upperlimit

230.0

In [88]:
lowerlimit

-40.0

## Probability

In [89]:
probability=df['Probability']
probability

0      74
1      55
2      61
3      29
4      66
       ..
100    93
101    96
102    93
103    94
104    97
Name: Probability, Length: 105, dtype: int64

In [90]:
probavg=probability.mean()
probavg

83.87619047619047

In [91]:
probability.median()

85.0

In [92]:
probability.var()

110.55183150183149

In [93]:
probability.std()

10.51436310490709

In [94]:
range6=probability.max()-probability.min()
range6

68

In [95]:
q1=np.percentile(probability,25)
q1

79.0

In [96]:
q2=np.percentile(probability,50)
q2

85.0

In [97]:
q3=np.percentile(probability,75)
q3

92.0

In [98]:
iqr=q3-q1
iqr

13.0

In [99]:
upperlimit = q3+(1.5*q3)
lowerlimit = q1-(1.5*q1)

In [100]:
upperlimit

230.0

In [101]:
lowerlimit

-39.5

## Measure

In [102]:
measure=df['Measure']
measure

0      71
1      62
2      68
3      54
4      66
       ..
100    86
101    88
102    95
103    82
104    90
Name: Measure, Length: 105, dtype: int64

In [103]:
meaavg=measure.mean()
meaavg

80.76190476190476

In [104]:
measure.median()

81.0

In [105]:
measure.var()

106.01007326007326

In [106]:
measure.std()

10.296119330120122

In [107]:
range7=measure.max()-measure.min()
range7

46

In [108]:
q1=np.percentile(measure,25)
q1

74.0

In [109]:
q2=np.percentile(measure,50)
q2

81.0

In [110]:
q3=np.percentile(measure,75)
q3

89.0

In [111]:
iqr=q3-q1
iqr

15.0

In [112]:
upperlimit =q3+(1.5*q3)
lowerlimit =q1-(1.5*q1)

In [113]:
upperlimit

222.5

In [114]:
lowerlimit

-37.0

## Functional_analysis

In [117]:
fa=df['Functional_analysis']
fa

0       60
1       61
2       64
3       51
4       61
      ...
100     90
101    100
102     71
103     78
104     90
Name: Functional_analysis, Length: 105, dtype: int64

In [118]:
faavg=fa.mean()
faavg

75.32380952380953

In [119]:
fa.median()

76.0

In [120]:
fa.var()

169.08644688644688

In [121]:
fa.std()

13.003324455170949

In [122]:
range8=fa.max()-fa.min()
range8

91

In [123]:
q1=np.percentile(fa,25)
q1

67.0

In [124]:
q2=np.percentile(fa,25)
q2

67.0

In [125]:
q3=np.percentile(fa,25)
q3

67.0

In [126]:
iqr=q3-q1
iqr

0.0

In [127]:
upperlimit =q3+(1.5*q3)
lowerlimit =q1-(1.5*q1)

In [128]:
upperlimit

167.5

In [129]:
lowerlimit

-33.5

## Which subject has highest average ?

In [130]:
overallavg=np.array([algavg,calavg,calavg2,statavg,probavg,meaavg,faavg])
overallavg

array([76.05714286, 71.96190476, 78.94285714, 85.13333333, 83.87619048,
       80.76190476, 75.32380952])

In [131]:
overallavg.max()

85.13333333333334

## What are the Student IDs who got more tham 80% GPA?

In [132]:
df[(df['GPA']>80)]['ID']

11     1152
13     1154
14     1155
15     1156
17     1158
       ...
100    1241
101    1242
102    1243
103    1244
104    1245
Name: ID, Length: 76, dtype: int64

## How many female students are there in the class?

In [133]:
females=df['gender'].value_counts()[0]
females

C:\Users\subha\AppData\Local\Temp\ipykernel_16536\1956710376.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  females=df['gender'].value_counts()[0]

68

## What is the ratio of male students and female students?

In [135]:
males = df['gender'].value_counts()[1]
males

C:\Users\subha\AppData\Local\Temp\ipykernel_16536\1519503812.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  males = df['gender'].value_counts()[1]

37

In [136]:
print(f"{males}:{females}")

37:68

## What are the marks of male students in statistics ?

In [156]:
df[(df['gender']=='males')]['Statistics']

Series([], Name: Statistics, dtype: int64)

## What is the ID of the class topper ?

In [157]:
highgpa=gpa.max()
highgpa

93.71

In [159]:
maxgpa=df['GPA'].idxmax()
maxgpa

104

In [160]:
topper=df.loc[maxgpa,'ID']
topper

1245

## What is the gender of probabilty topper?

In [161]:
highprob=probability.max()
highprob

97

In [162]:
gender=df.loc[highprob,'gender']
gender

'male'

## Create Pivot Table for gender and class?

In [163]:
pd.crosstab(df['gender'],df['class'])

class    A   B
gender
female  48  20
male    28   9

## Which subject got least average marks?

In [164]:
overallavg.min()

71.96190476190476

## How many male and female students are there ?

In [165]:
df['gender'].value_counts()

gender
female    68
male      37
Name: count, dtype: int64

## How many female student are there from class A?

In [166]:
fema=df[(df['gender']=='female') & (df['class']=='A')]['gender']
fema.count()

48

## Which class has more strength ?

In [167]:
class1=df['class']
class1

0      A
1      A
2      A
3      A
4      A
      ..
100    A
101    B
102    B
103    A
104    A
Name: class, Length: 105, dtype: object

In [168]:
class1.value_counts()

class
A    76
B    29
Name: count, dtype: int64

## Sort the data as per algebra ?

In [169]:
df.sort_values('Algebra',ascending=False)

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
101,1242,B,male,89.84,98,77,95,98,96,88,100
97,1238,A,male,91.14,98,90,98,97,83,93,89
65,1206,A,male,86.37,95,76,87,90,86,94,84
75,1216,A,female,91.90,95,86,96,92,95,90,95
87,1228,A,female,88.62,95,65,97,94,97,85,85
...,...,...,...,...,...,...,...,...,...,...,...
5,1146,A,male,65.04,60,60,39,61,65,74,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
4,1145,A,female,70.11,49,45,63,60,66,66,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51

## How many students got exactly 64 marks from functional analysis?

In [171]:
fa64=df['Functional_analysis']==64 
fa64

0      False
1      False
2       True
3      False
4      False
       ...
100    False
101    False
102    False
103    False
104    False
Name: Functional_analysis, Length: 105, dtype: bool

In [173]:
total=df.loc[fa64,'Functional_analysis']
total

2     64
14    64
18    64
19    64
26    64
34    64
46    64
48    64
Name: Functional_analysis, dtype: int64

In [174]:
total.count()

8